
body {
    min-width: 100%;
}

/** This puts the banner at the top of the page **/
#banner {
    display: block;
    background-image: url("../media/Banner.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #00693c;
    border-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 89px;
}


/* Styles to override bootstrap colors */

/* Sets the style font style for heading */
h1, h2, h3, h4, h5, h6, nav ul li a, label, caption {
    font-family: "Trebuchet MS", sans-serif !important;
}




#footer {
    background-color: #024925;
    width: 100%;
    padding: 25px 15px 10px 15px;
}

#footer p {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#footer p a {
    text-decoration: none;
    color: #fff;
}

/** [Report Page] **/
.thead {
    background-color: #00693c !important;
    white-space: nowrap !important;
    color: #f8de6e !important;
}

#head {
    background-color: #00693c;
}

td, th {
    padding: 5px;
}

/**[Modal Styles]**/
.smallLogo {
    max-width: 150px;
    margin: 0 auto;
}